/*Proyect 1: ALOHA HOMEPAGE | Jonathan de la Mora*/

/*---   M   O   B   I   L   E   ---*/

/*---HEADER---*/

body {
  font-family: 'Raleway light', Arial, sans-serif;
  font-size: 14px;
  color: #2d2d2d;
}

.hideButRead{
  position: absolute;
  top: -1000000px;
}

.header{
  color: white;
  /* position: fixed; */
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.5%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 3%;
  padding-inline-end: 2%;
}

.logo{
  max-width: 120px;
  order: 1;
}

.menu ul{
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.menu ul li a{
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: center;
  color: #e2574c;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 14px;
  padding-left: .5rem;
  padding-right: .5rem;
}

.menu li{
  display: inline-block;
  justify-content: space-between;
}

nav{
  width: 100%;
  order: 3;
}

.menu ul{
  border-top: 1px solid #d7d7d7;
  text-align: center;
  justify-content: space-between;
  /* cleaning styles */
  padding-left: 0;
  width: 100%;
}

.menu a:hover { color:#9e3c34; }

.divcart{
  order: 2;
}
.cart{
  width: 50px;
}

.cart-number{
  width: 5px;
  height: 5px;
  color: red;
  display:flex;
  align-content: flex-end;
} 


/*--- BANNER --- */

.banner{
  height: 400px;
  width: 100%;
  background-size: cover, contain , cover;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: center, center 30px, 0px 0px;
  position: relative;
  background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
                    url("../images/banner-girl.png") , 
                    url("../images/flower-bkgd.jpg");
}

.background{
  color: #fff;
  font-weight: 400;
  position: relative;
  text-align: center;
  top: 50%;
  line-height: 1;
}

.collection{
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 2%;
}

.season2019{
  font-family: 'Playfair Display', Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}


/*---DESCRIPTION---*/

.description{
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 8%;
  max-width: 600px;
}

.description h1{
  font-family: 'Playfair Display', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 8%;
}

.styles{
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
}

.description p{
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
  text-align: center;
  line-height: 1.7em;
  padding-right: 4%;
  padding-left: 4%;
}


/*---CATEGORIES---*/

.categories{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  min-height: 40rem;
  grid-gap: .5rem;
  width: 100%;
  height: auto;
}

.text{
  display: flex;
  font-size: 24px;
  font-family: 'Raleway', Arial, sans-serif;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  font-weight: 400;
  position: relative;
}

.categories a a:hover{
  color: #f5ebc6;
}

.mens{
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
                   url("../images/mens-category.jpg") ;  
  background-position: center;
  grid-column-start: 1;
  grid-column-end: 3;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-width: 320px;
  min-height:auto;
}

.trends{
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
                   url("../images/trends-category.jpg");
  grid-column-start: 1;
  grid-column-end: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.sale{
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
                   url("../images/sale-category.jpg");
  grid-column-start: 2;
  grid-column-end: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.bags{
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
                   url("../images/bags-category.jpg");
  grid-column-start: 1;
  grid-column-end: 2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.glasses{
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
                   url("../images/glasses-category.jpg");
  grid-column-start: 2;
  grid-column-end: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.womens{
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),
                   url("../images/womens-category.jpg");
  grid-column-start: 1;
  grid-column-end: 3;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.categories a a:hover{
  color: #f5ebc6;
}


/*---FEATURED---*/

.most-loved{
  margin: 0 auto;
  padding-top: 8%;
  padding-bottom: 8%;
  /* max-width: 600px; */
  display: flex;
  justify-content: center; 
  min-width: 320px;
}

.most-loved h1{
  font-family: 'Playfair Display', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 8%;
}

.styles2{
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
}

.most-loved p{
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
}

.category{
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .75rem;
  color: #969696;
  text-align: center;
}

.name{
  color: #e2574c;
  font-family: 'Playfair Display', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.price{
  font-weight: 400;
  font-family: 'Raleway', Arial, sans-serif;
  color: #969696;
}

/* CAROUSEL -- external css: flickity.css */

* { box-sizing: border-box; }

.carousel-cell {
  width: 100%;
  margin-right: 10px;
}


/*---NEWSLETTER---*/

.newsletter{
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.308) 0,rgba(0,0,0,.15)),
                    url("../images/wave-bkgd.jpg");
  padding-bottom: 3.5rem;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  max-height: 340px;
  position:relative;
  min-height: 250px; 
}

.wave h1{
  font-family: 'Playfair Display', Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 8%;
  color: white;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.styles3{
  font-weight: bold;
  font-style: normal;
  font-weight: 800;
  color: white;
}

.wave{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.newsletter p{
  font-family: 'Raleway', Arial, sans-serif;
  padding: 3%;
  font-weight: 350;
  text-align: center;
  position: relative;
  color: white;
  line-height: 1.7em; 
  font-weight: 300;
  text-shadow: 1px 1px 3px hsla(0,0%,39%,.8);
}

.subscription{
  font-family: 'Raleway Web' ,sans-serif;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  min-width: 100px;
  margin-left: 66px;
}

input{
  border-radius: 25px;
  border: 0;
}

input[type=email]{
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.subscribeText{
  font-size: 14px;
  font-family: 'Raleway Web' ,sans-serif;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: left;
}

.subscribeBtn{
  color: white;
  border: none;
  background-color: #e2574c;
  text-align: center;
  text-decoration: none;
  padding-top: 2%;
  padding-bottom: 2%;
  display: inline-block;
  font-size: 14px;
  position: relative;
  left: -66px;
  font-family: 'Raleway Web' ,sans-serif;
}


/*---FOOTER---*/

.footer {
  background-color: #242424;
  width: 100%;
  font-family: 'Playfair Display', Arial, sans-serif;
  background-position: absolute;
  margin-top: .5rem;
}

.footer p, .footer a{
  color: white;
  justify-content: center;
  font-size: 85%;
  text-align: center;
  line-height: 20px;
}

.media li{
  align-content: center;
  text-align: center;
}

.media ul{  
  display: flex;
  align-content: center;
  justify-content: center;
  color: white; 
  letter-spacing: 15px;
}

.media a{
  display: media;
  margin: 0px;
}

.media i{
height: 25px;
width: 28px;

}

p.address{
  color: #969696;
}



/*---   T   A   B   L   E   T   ---*/

  @media only screen and (min-width : 600px) {
   
    .header{
      flex-wrap: nowrap; 
    } 
    
    .menu li {
      font-size: 20px;
    }

    body{
        font-size: 16px;
    }
   
    .logo{
      max-width: 120px;
      order: 1;
    }

    .menu{
      order: 2;
    }

    .menu ul{
      border: none;
    }

    .menu li{
      font-size:.9rem;
    }

    .divcart{
      order: 4;
    }  

    .categories{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      min-height: 300px;
      grid-auto-rows: 200px;
    }
  
    .mens{
      background-image:url("../images/mens-category.jpg");
      background-position: center;
      grid-column-start: 1;
      grid-column-end: 3;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    .trends{
      background-image:url("../images/trends-category.jpg");
      grid-column-start: 3;
      grid-column-end: 4;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .sale{
      background-image:url("../images/sale-category.jpg");
      grid-column-start: 3;
      grid-column-end: 2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .bags{
      background-image:url("../images/bags-category.jpg");
      grid-column-start: 1;
      grid-column-end: 2;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .glasses{
      background-image:url("../images/glasses-category.jpg");
      grid-column-start: 4;
      grid-column-end: 5;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .womens{
      background-image:url("../images/womens-category.jpg");
      grid-column-start: 3;
      grid-column-end: 5;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .categories a{
      max-height: 600px;
      display: flex;
      position: relative;
      justify-content: center;
      align-content: center;
    }

    .divcart{
      order: 3;
    }

    .main-carousel {
      width: 100vw;
    }
    .carousel-cell {
      width: 50%;
    }

    .info p{
      text-align: left;
    }

    .info{
      padding-left: 5rem;
      padding-top: 1rem;
    }


  

/*---   D   E   S   K   T   O   P   ---*/

  @media only screen and (min-width: 1024px) {

  .main-carousel {
      width: 100vw;
  } 
  .carousel-cell {
    width: 25%;
  }

    
  body {

    font-family: 'Raleway light', Arial, sans-serif;
    font-size: 16px;
  }
  

  .logo{
    max-width: 120px;
    order: 1;
  }
  
  .menu ul{
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .menu ul li a{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    color: #e2574c;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 14px;
    padding-left: .5rem;
    padding-right: .5rem;
  }
  
  .menu li{
    display: inline-block;
    justify-content: space-between;
  }
    
  nav{
    width: 100%;
    order: 2;
  }
  
  .menu ul{
    text-align: center;
    justify-content: space-between;
    /* cleaning styles */
    padding-left: 0;
    width: 100%;
  }
    
  .menu a:hover { color:#b64036; }
  
  .divcart{
    order: 3;
  }
  .cart{
    width: 50px;
  }
  
  .cart-number{
    width: 5px;
    height: 5px;
    color: red;
    display:flex;
    align-content: flex-end;
  } 

  .categories{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 300px;
    grid-auto-rows: 300px;
  }

}

}
